.rspec
vendor/bundle
log/*
tmp/*
coverage
spec/tmp/*
**.orig
rerun.txt
.byebug_history
.ruby_gemset
.ruby_version

# Ignore bundler config.
.bundle
Gemfile.lock

# ignore Rubymine files
.idea/

.rvmrc
.DS_Store
*.save
*.swp
*.mp4
*.ogv
